:root {
  --bg-primary: #f6f8fa;
  --bg-secondary: #e2e4e9;
  --bg-tertiary: #cdd0d5;
  --bg-quaternary: #868c98;
  --bg-primary-hover: #e2e4e9;
  --bg-secondary-hover: #cdd0d5;
  --bg-tertiary-hover: #868c98;
  --bg-quaternary-hover: #525866;
  --bg-black-solid: #0a0d14;
  --bg-black-solid-hover: #161922;
  --bg-disabled: #e2e4e9;
  --bg-disabled-alt: #cdd0d5;
  --bg-accent-primary: #1060ff;
  --bg-accent-primary-hover: #0c4ecc;
  --bg-accent-solid: #0c4ecc;
  --bg-accent-solid-hover: #0f3cbe;
  --bg-error-primary: #ff5422;
  --bg-error-primary-hover: #db3c0f;
  --bg-error-secondary: #fff2ee;
  --bg-error-secondary-hover: #ffdccf;
  --bg-success-primary: #38c793;
  --bg-success-primary-hover: #2aab7b;
  --bg-success-secondary: #ebf9f4;
  --bg-success-secondary-hover: #c3edde;
  --bg-warning-primary: #ffea00;
  --bg-warning-primary-hover: #dbc800;
  --bg-warning-secondary: #fffde6;
  --bg-warning-secondary-hover: #fff9b3;
  --bg-info-primary: #1060ff;
  --bg-info-primary-hover: #0c4ecc;
  --bg-info-secondary: #ebf1ff;
  --bg-info-secondary-hover: #c2d6ff;
  --text-primary: #0a0d14;
  --text-secondary: #31353f;
  --text-tertiary: #525866;
  --text-primary-hover: #20232d;
  --text-secondary-hover: #161922;
  --text-tertiary-hover: #31353f;
  --text-disabled: #868c98;
  --text-disabled-alt: #cdd0d5;
  --text-placeholder: #525866;
  --text-accent-primary: #0c4ecc;
  --text-accent-secondary: #0f3cbe;
  --text-accent-primary-hover: #0a2a85;
  --text-accent-secondary-hover: #162664;
  --text-error-primary: #db3c0f;
  --text-error-secondary: #b82b05;
  --text-error-primary-hover: #941f00;
  --text-error-secondary-hover: #5c1300;
  --text-success-primary: #2aab7b;
  --text-success-secondary: #1f8f66;
  --text-success-primary-hover: #157351;
  --text-success-secondary-hover: #0c4731;
  --text-warning-primary: #b8a700;
  --text-warning-secondary: #948600;
  --text-warning-primary-hover: #948600;
  --text-warning-secondary-hover: #5c5300;
  --text-info-primary: #0c4ecc;
  --text-info-secondary: #0f3cbe;
  --text-info-primary-hover: #0a2a85;
  --text-info-secondary-hover: #162664;
  --icon-primary: #0a0d14;
  --icon-secondary: #31353f;
  --icon-tertiary: #525866;
  --icon-primary-hover: #161922;
  --icon-secondary-hover: #20232d;
  --icon-tertiary-hover: #31353f;
  --icon-disabled: #cdd0d5;
  --icon-disabled-alt: #868c98;
  --icon-placeholder: #868c98;
  --icon-accent-primary: #1060ff;
  --icon-accent-secondary: #0f3cbe;
  --icon-accent-primary-hover: #0c4ecc;
  --icon-accent-secondary-hover: #0a2a85;
  --icon-error-primary: #ff5422;
  --icon-error-secondary: #b82b05;
  --icon-error-primary-hover: #db3c0f;
  --icon-error-secondary-hover: #941f00;
  --icon-success-primary: #38c793;
  --icon-success-secondary: #1f8f66;
  --icon-success-primary-hover: #2aab7b;
  --icon-success-secondary-hover: #157351;
  --icon-warning-primary: #ffea00;
  --icon-warning-secondary: #b8a700;
  --icon-warning-primary-hover: #dbc800;
  --icon-warning-secondary-hover: #948600;
  --icon-info-primary: #1060ff;
  --icon-info-secondary: #0f3cbe;
  --icon-info-primary-hover: #0c4ecc;
  --icon-info-secondary-hover: #0a2a85;
  --border-primary: #e2e4e9;
  --border-secondary: #cdd0d5;
  --border-tertiary: #f6f8fa;
  --border-primary-solid: #0a0d14;
  --border-disabled: #e2e4e9;
  --border-disabled-alt: #f6f8fa;
  --border-accent-primary: #1060ff;
  --border-accent-secondary: #c2d6ff;
  --border-error-primary: #ff5422;
  --border-error-secondary: #ffdccf;
  --border-success-primary: #38c793;
  --border-success-secondary: #c3edde;
  --border-warning-primary: #ffea00;
  --border-warning-secondary: #fff9b3;
  --border-info-primary: #1060ff;
  --border-info-secondary: #c2d6ff;
  --gradient-brand-primary: linear-gradient(135deg, #1060ff 0%, #38c793 100%);
  --gradient-brand-secondary: linear-gradient(135deg, #1060ff 0%, #c823d7 100%);
  --gradient-brand-cyan: linear-gradient(135deg, #1060ff 0%, #1ae5e5 100%);
  --gradient-brand-lilac: linear-gradient(135deg, #1060ff 0%, #ac52ff 100%);
  --gradient-brand-vermillion: linear-gradient(135deg, #1060ff 0%, #ff5422 100%);
  --gradient-brand-yellow: linear-gradient(135deg, #1060ff 0%, #ffea00 100%);
  --gradient-brand-limegreen: linear-gradient(135deg, #1060ff 0%, #d6f74c 100%);
  --effect-glass-default: 0px 0px 8px 0px #FFFFFF1A;
  --effect-drop-shadow-3xs: 0px 1px 2px 0px #0000000D, 0px 0px 1px 0px #00000009;
  --effect-drop-shadow-2xs: 0px 4px 8px 0px #00000013, 0px 1px 7px 0px #0000000E;
  --effect-drop-shadow-xs: 0px 7px 15px 0px #0000001A, 0px 3px 12px 0px #00000012;
  --effect-drop-shadow-sm: 0px 9px 22px 0px #00000020, 0px 4px 18px 0px #00000016;
  --effect-drop-shadow-md: 0px 12px 29px 0px #00000026, 0px 5px 23px 0px #0000001B;
  --effect-drop-shadow-lg: 0px 15px 35px 0px #0000002D, 0px 6px 28px 0px #0000001F;
  --effect-drop-shadow-xl: 0px 18px 42px 0px #00000033, 0px 7px 34px 0px #00000024;
  --effect-inner-shadow-xs: inset 0px 0px 0px 1px #0000000D;
  --effect-inner-shadow-sm: inset 0px 1px 3px 1px #00000020;
  --effect-inner-shadow-md: inset 0px 3px 6px 1px #00000033;
}
